<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.app.author }} &#8226; {{ site.app.tagline | strip_html }}</title>

  <link rel="apple-touch-icon" href="{{ site.app.logo }}"/>
  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="{{ site.url }}/favicon.ico" />

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
  <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">

  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  <meta name="author" content="{{ site.app.author }}">
  <meta name="description" content="{{ site.app.tagline }}"/>

  <meta property="og:title" content="{{ site.app.tagline }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ site.app.logo }}"/>
  <meta property="og:description" content="{{ site.app.description }}"/>
  <meta property="og:site_name" content="{{ site.app.tagline }}">

  {% if site.app.include_analytics %}
  {% include analytics.html %}
  {% endif %}
</head>
